/* FONTS */



/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, html a{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: greyscale;
}

a{
    -webkit-transition: all .30s;
    -moz-transition: all .30s;
    -o-transition: all .30s;
    -ms-transition: all .30s;
    transition: all .30s;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
}
body {
    font-family: "Montserrat", Helvetica, sans-serif;
	text-align: left;
	background: #fff;
	color: #000;
}
#container,
#app-wrapper {
    width: 100%;
    height: 100%;
    min-width: 320px;
}



/*
///////////////////
##GENERAL
///////////////////
*/
.wrapper {
	position: relative;
	width: auto;
	margin: 0 auto;
	padding: 0 90px;
	max-width: 1280px;
}

.mini-title {
	text-align: left;
}
.main-title {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #000;
}
.main-subtitle {
    margin: 6px 0 0 0;
    padding: 0;
    font-family: "Montserrat", Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #595b5a;
}

.grid {
	width: 100%;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid:first-child {
	margin-top: 0;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}

/* margins  */
.push-left.push-15-128{
	margin-left: 11.72%;
}
.push-right.push-15-128{
	margin-right: 11.72%;
}


[class*='col-'] {
	float: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* desktop cols */
.col-1-1{
	width: 100%;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.3333%;
}
.col-63-102{
	width: 61.76%;
}
.col-39-102{
	width: 38.24%;
}
.col-37-63{
	width: 58.73%;
}
.col-26-63{
	width: 41.27%;
}
.col-24-37{
	width: 64.86%;
}
.col-13-37{
	width: 35.14%;
}
.col-17-26{
	width: 67.31%;
}
.col-9-26{
	width: 32.69%;
}
.col-97-128{
	width: 76.17%;
}
.col-26-128{
	width: 20.31%;
}
.col-74-128{
	width: 79.69%;
}
.col-85-128{
	width: 66%;
}
.col-43-128{
	width: 34%;
}
.col-37-115{
	width: 32.18%;
}
.col-78-115{
	width: 67.82%;
}
.col-63-115{
	width: 54.78%;
}
.col-52-115{
	width: 45.22%;
}
.col-43-115{
	width: 37.82%;
}
.col-72-115{
	width: 62.18%;
}

.fill-img img{
	width: 100%;
	height: auto;
}


.float-left{
	float: left;
}
.push-right{
	float: right;
}


.vertically-centered {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 2;
}

.vertical-container {
    display: table-cell;
    vertical-align: middle;
}


main {
    width: 100%;
    height: 100%;
    background-color: #fff;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


/*
//////////////
##HEADER
//////////////
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 120;
    padding: 12px 15px;
    background-color: #464647;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.header--headline {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.header .button {
    position: absolute;
}
.header .button a,
.header .button span {
    color: #fcd230;
    font-size: 0.9em;
    line-height: 1.8em;
    text-decoration: none;
}
.button.button--left {
    left: 15px;
}
.button.button--right {
    right: 15px;
}
.button img{
    width: 26px;
    height: auto;
}

.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: #fcd230;
    /*background-color: #000;*/

    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 1.5s;

    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
.logo {
    padding-top: 90px;
}
.logo img {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: auto;
}

.tagline {
    display: block;
    text-align: center;
    margin: 40px auto 0 auto;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.navigation {
    position: relative;
    z-index: 120;
}
.main-nav {

}
.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav ul li {
    display: inline-block;
}
.main-nav ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: -0.02em;
}
.main-nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.diagonal-nav li:not(:first-child):before {
    content: "/";
    display: inline-block;
    padding: 0 6px;
    color: #000;
    font-size: 1.2em;
}

.intro-text {
    margin: 45px 0 0 0;
    padding: 0;
}

.main-text {
    color: #000;
    font-family: 'aperculight', Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}





.main {
    
}
.section {
    position: relative;
    margin-top: 48px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 80;
}

.article--restaurant {
    position: relative;
    max-height: 260px;
    overflow: hidden;
}
.article--restaurant img {
    width: 100%;
    height: auto;
}
.article--restaurant h3 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: #fff;
}
.article--restaurant h4 {
    margin: 10px 0 0 0;
}
.article--restaurant .small-text {
    margin: inherit;
    font-size: 0.85em;
    font-weight: 400;
    padding: 0;
    color: #fff;
}

.restaurant--footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 15px;
    z-index: 90;
}

.restaurant--footer .push-right {
    text-align: right;
}

.overlay.overlay--black {
    background-color: rgba(0, 0, 0, 0.2);
}
.section--restaurants .overlay.overlay--black {
    background-color: rgba(0, 0, 0, 0.25);
}

.page.geo, .section--map {
    height: 100%;
}
.section--map {
    margin-top: 0;
}

.map-canvas {
    width: 100%;
    height: 600px;
    height: 100vh;
}

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 800;
    border-top: 2px solid #fcd230;

    border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    transition: transform ease-in 0.3s;

    transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
}
.popup.popup--PickLanguage {
    border-top: 0 none;
    height: 100%;

    border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
}
.popup.opened {
    transform: translate3d(0, 0%, 0);
}
.restaurant--detail {
    padding: 20px;
}
.restaurant--image {
    position: relative;
    height: 160px;
    margin: 15px 0 20px 0;
    overflow: hidden;
}
.restaurant--image img {
    width: 100%;
    height: auto;
}
.restaurant--distance {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #fff;
    font-size: 0.9em;
    text-align: right;
}

.popup header {
    text-align: center;
}

.restaurant--detail h2 {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: #585959;
    color: #000;
}
.restaurant--detail h3 {
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 1.0em;
    font-weight: 400;
    color: #585959;
}
.restaurant--detail h4 {
    margin: 0 0 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #777677;
    color: #000;
}

.popup--footer.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.popup--footer a {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #fcd230;
    color: #fff;
    color: #000;
    text-transform: uppercase;

    margin: 0 auto;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.02em;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.restaurant--desc {
    font-weight: 300;
    font-size: 0.9em;
    color: #222;
}

.menu--link {
    text-decoration: inherit;
    color: inherit;
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 12px;
    cursor: pointer;

    background-image: url('../images/icon-cross.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px auto;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.section.section--menu {
    margin-top: 96px;
}

.subnav {
    width: 100%;
    position: fixed;
    top: 48px;
    left: 0;
    z-index: 100;
}
.navigation-scroll {
    background-color: #444646;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flickity-enabled {
  position: relative;
}
.subnav.flickity-enabled {
    position: fixed;
}

.flickity-enabled:focus { 
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  }

/* Draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}


.subnav nav {

}
.subnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.subnav ul li {
    display: inline-block;
}
.subnav ul li a,
.subnav ul li div {
    display: block;
    padding: 14px 20px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    background-color: #444646;
}
.subnav ul li a.active,
.subnav ul li div.active {
    background-color: #646464;
}

.subnav ul.subnav-2-items li {
    width: 50%
}
.subnav ul.subnav-3-items li {
    width: 33.3%;
}
.subnav ul.subnav-3-items li:last-child {
    width: 33.4%;
}

.menu-categories {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 48px;
}
.subnav + .menu-categories {
    top: 0;
}
.subnav + .menu-categories.menu-detail {
    top: 96px;
}

.categories-container[data-item-active="0"] .menu--category:not(:nth-child(1)),
.categories-container[data-item-active="1"] .menu--category:not(:nth-child(2)),
.categories-container[data-item-active="2"] .menu--category:not(:nth-child(3)),
.categories-container[data-item-active="3"] .menu--category:not(:nth-child(4)),
.categories-container[data-item-active="4"] .menu--category:not(:nth-child(5)),
.categories-container[data-item-active="5"] .menu--category:not(:nth-child(6)),
.categories-container[data-item-active="6"] .menu--category:not(:nth-child(7)),
.categories-container[data-item-active="7"] .menu--category:not(:nth-child(8)),
.categories-container[data-item-active="8"] .menu--category:not(:nth-child(9)),
.categories-container[data-item-active="9"] .menu--category:not(:nth-child(10)) {
    height: calc(100vh - 96px);
}

.categories-container {
    width: 100%;

    transition: 0.25s all ease-in;
    -webkit-transition: 0.25s all ease-in;
    -moz-transition: 0.25s all ease-in;
}

.menu--category {
    width: 100%;
    height: auto;
    float: left;
}
.menu-detail .menu--category {
    width: 100vw;
}
.menu--category .price {
    float: right;
    line-height: 1.6;
}



.section-restaurant-details {
    border-bottom: 1px solid #eaebec;
}

.restaurant-details--image {
    position: relative;
    max-height: 300px;
    overflow: hidden;
    border-bottom: 5px solid #fcd230;
}
.restaurant-details--image img {
    width: 100%;
    height: auto;
}

.restaurant-details--contacts {
    padding: 15px;
}

.restaurant-details--extra {
    margin-top: 10px;
}

.restaurant-details--item h3 {
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
}
.meal .restaurant-details--item h3 {
    text-align: left;
}

.restaurant-details--item h3 span {
    font-weight: 500;
    color: #595b5a;
}

.restaurant-details--language {
    display: inline-block;
}
.restaurant-details--language img {
    width: 32px;
    height: auto;
    margin-top: 4px;
    margin-right: 6px;
}
.restaurant-details--language:last-child img {
    margin-right: 0;
}

.restaurant-details--logo {
    position: relative;
    margin-top: -36px;
    text-align: center;
}

.restaurant-logo-container {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    border: 5px solid #fcd230;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.restaurant-details--logo img {
    width: auto;
    height: 72px;
    margin-left: -30px;
    clip-path: circle(36px at center);
    -webkit-clip-path: circle(36px at center);

    background-color: #000;
}

.restaurant-details--contact {
    visibility: hidden;
    height: 0;
    opacity: 0;
    border: 1px solid #eaebec;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    -webkit-transition: opacity .30s ease-in;
    -moz-transition: opacity .30s ease-in;
    -o-transition: opacity .30s ease-in;
    -ms-transition: opacity .30s ease-in;
    transition: opacity .30s ease-in;
}

.restaurant-details--contact.opened {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-top: 45px;
    padding: 15px;
}

.contact--image {
    text-align: center;
    margin-top: -47px;
}
.contact--image img {
    width: auto;
    height: 64px;
    clip-path: circle(32px at center);
    -webkit-clip-path: circle(32px at center);

    border: 1px solid #eaebec;
    background-color: #fff;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.contact--details {
    text-align: center;
}
.contact--details h4 {
    margin: 10px 0;
    padding: 0;
}

.contact-blocks {

}
.contact-block {
    
}
.contact-block p {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 0.8em;
}
.contact-block p span {
    font-weight: 500;
    color: #595b5a;
}
.contact-block p a {
    color: inherit;
    text-decoration: none;
}


.button--contact {
    display: block;
    text-align: center;
    margin: 20px auto 10px auto;
    padding: 10px 20px;
    border: 1px solid #d1d1d1;
    border: 2px solid #fcd230;
    background-color: #eaebec;
    background-color: transparent;
    border-radius: 3px;
    border-radius: 30px;
    font-weight: 500;
    color: #000;
    color: #fcd230;
    font-size: 0.9em;
}



.meal {
    padding: 15px;
    border-bottom: 1px solid #eaebec;
}
.meal:last-child {
    border-bottom: 0 none;
}

.meal--header h2 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2;
    color: #595b5a;
}

.meal--desc {
    color: #848382;
    font-size: 0.8em;
    line-height: 1.6;
    font-weight: 300;
}


.reviews {

}
.reviews header {
    margin: 20px 0 0 0;
    padding: 0 20px;
    text-align: center;
}
.reviews header h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.0em;
    line-height: 1.2;
    color: #000;
}

.reviews header p {
    font-size: 0.8em;
    margin: 8px 0 0 0;
    padding: 0;
    font-weight: 400;
    color: #848382;
}
.reviews-menu {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
}
.reviews-menu li {
    display: inline-block;
    margin-right: 8px;
}
.reviews-menu li:last-child {
    display: inline-block;
    margin-right: 0;
}
.reviews-menu li img {
    width: 38px;
    height: auto;
}
.reviews-menu li a {
    text-decoration: none;
}



.language {
    padding: 15px;
    border-bottom: 1px solid #eaebec;
}
.language img {
    float: left;
    width: 32px;
    margin-right: 20px;
    height: auto;
}
.language p {
    margin: 0;
    padding: 0;
    color: #595b5a;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 2;
}
.language a {
    text-decoration: none;
}
/*
.language:last-child {
    border-bottom: 0 none;
}
*/


@media all and (max-width: 1023px) {
    
}

@media all and (max-width: 768px) {

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hide{
	display: none;
}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.vertically-centered {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.vertical-container {
    display: table-cell;
    vertical-align: middle;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}